.box {
		width: 100%;
		height: 150px;
		padding: 12px 20px;
		box-sizing: border-box;
		border: 2px solid #FB8F67;
		border-radius: 4px;
		background-color: #f8f8f8;
		resize: none;
}


.myButton {
	background-color: #FB8F67;
	border-radius:10px;
	border:2px solid #f8e16c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:20px;
	padding:7px 24px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#f8e16c;
}
.myButton:active {
	position:relative;
	top:1px;
}
