.map {
    height: 70%; 
    width :65%; 
    margin-left:auto; 
    margin-right:auto;
    padding: 0.5rem;
}

.search {
    position: center;
    transform: translateX(-50%);
    width: 50%;
    max-width: 900px;
    z-index: 10;
    padding: 0.5rem;
    margin: auto;
  }


.search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
  }