@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    margin: 0;
    font-family: 'Special Elite', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.myButton {
	background-color: #FB8F67;
	border-radius:10px;
	border:2px solid #FB8F67;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:18px;
	padding:7px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	margin: 8px;
}
.myButton:hover {
	background-color:#2596BE;
}
.myButton:active {
	position:relative;
	top:1px;
}


.myButtonB {
	background-color: #2596BE;
	border-radius:10px;
	border:2px solid #2596BE;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	text-align: right;
	font-family:Trebuchet MS;
	font-size:15px;
	padding:7px 18px;
	text-decoration:none;
	margin: 8px;
	
}
.myButtonB:hover {
	background-color:#FB8F67;
}
.myButtonB:active {
	position:relative;
	top:1px;
}


.myButtonBB {
	background-color: #FB8F67;
	border-radius:10px;
	border:2px solid #FB8F67;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	padding:7px 18px;
	text-decoration:none;
	margin-top: 10px;

}
.myButtonBB:hover {
	background-color:#FB8F67;
}
.myButtonBB:active {
	position:relative;
	top:1px;
}

body{
	background-color:#F7FAFB !important; 
}
/*position: relative;
z-index: auto*/
.nav {
    display: inline;
	list-style-type: none;
	margin: 0;
}

.floatRight{
	float: right;
}
nav-link{
	color:black
}

